.soi{
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.blue{
    background-color: rgb(29, 101, 246);
    height: 200px;
    width: 200px;
    border: 2px solid blue;
}

.green{
    background-color: rgba(5, 222, 5, 0.619);
    height: 200px;
    width: 200px;
    border: 2px solid green;
}

.main{
    background-image: url(./cricket.jpeg); width: 900px; height: 500px; background-repeat: no-repeat; background-size: cover;
}