.sutable{
/* border: 2px solid black;  */
height: 422px; 
width: 420px;
}

.row{
/* border: 1px solid black; */
width: 423px;
height: 140px;
display: flex;
/* flex-wrap: wrap; */
}

.rowblock{
    border: 1px solid black;
    height: 140px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}

#funrowblock{
    border: 1px solid black;
    height: 140px;
    width: 140px;
    background-color: rgb(156, 235, 209);
    display: flex;
    flex-wrap: wrap;
}

.ele{
    border: 0.2px solid black;
    height: 44px;
    width: 44px;
    text-align: center;
    font-size: 35px;
}