.bg{
    background-image: url("./kw-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.heading{
    font-size: 40px;
    color: white;
    line-height: 60px;
    margin-left: 100px;
}

.rowhead{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    margin-left: 80px;
}

.content{
    width: 140px;
    height: 250px;
    align-items: center;
}

.name{
    font-weight: bold;
    margin-top: 3px;
}

.about{
    font-size: small;
    color: gray;
}

.price{
    font-weight: bolder;
    font-size: 15px;
}

.atc{
    background-color: rgb(70, 149, 233);
    color: white;
    width: 35px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.row{
    display: flex; justify-content: space-evenly; margin-bottom: 90px;
}

@media screen and (max-width:576px) {
    .row{
        flex-direction: column;
        align-items: center;
        font-size : 18px;
    }
    .elements{
       margin-bottom: 30px;
       width: 200px;
    }
    .elements img {
        width: 150px;
    }
    .rowhead{
        text-align: center;
        font-size: 35px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px){
    .rowhead{
        text-align: center;
    }
    .elements{
        /* flex-wrap: wrap; */
        margin-left: 15px;
    }
    .row{
        width: 600px;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 10px;
    }
}